<script type="text/javascript">
    <% if logged_in? %>
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user,
            inventory_items: current_user.inventory_items.includes(:item)
        ).html_safe %>
    <% end %>
</script>

<link rel="shortcut icon" href="../../../public/favicon.ico" type="image/x-icon">
<link rel="icon" href="../../../public/favicon.ico" type="image/x-icon">

<main id="root"></main>