<script type="text/javascript">
    <% if logged_in? %>
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder",
            user: current_user,
            inventory_items: current_user.inventory_items.includes(:item)
        ).html_safe %>
    <% end %>
</script>

<main id="root"></main>

<span>pusheen's first deploy!</span>