/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* Nav Bar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    /* padding: 10px; */
}

 .nav-bar-logo {
    height: 50px;
    width: 50px;
}

.nav-bar-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-bar-list li {
    padding: 5px;
}

/* Browse */
.browse-h1 {
    /* margin: 0 auto; */
}

.browse-filter-index {
    display: flex;
    justify-content: space-between;
}

/* Search Form */
.search-form {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

/* Filter Form */
.filter-form-header {

}

.filter-form-list {
    list-style: none;
    border: 1px solid black;
    border-radius: 5px;
}

.filter-form-list li {
    border: 1px solid lightgrey;
    padding: 2px;
}

/* Profile */
.profile {
    display: flex;
    flex-direction: column;
}

.profile * {
    margin: 0 auto;
}

.sell-won {
    display: flex;
    justify-content: space-between;
}

.sell-won span {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 3px;
}

/* Auction Index */
.auction-index {
    /* border: 1px solid black;
    border-radius: 7px; */
}

.column-headers {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.column-headers li {
    padding: 2px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 2px;
}

.auctions-list {
    list-style: none;
}

/* Auction Detail */
.auction-detail {
    border: 1px solid black;
    border-radius: 7px;
    margin: 5px;
    padding: 2px;
}

.auction-detail ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}