@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General */
body, html, #root, .app {
    height: 100%;
}

* {
    // color: white;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

ul {
    padding-left: 0px;
}

.container {
    // background-image: url("http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520573820/french-stucco-1920x1080.png")
}

 /* Nav Bar */
.navbar {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid white;
}

.navbar-nav {
    list-style: none;
    margin: 0px;
}

.navbar-nav li {
    padding: 5px;
    margin: 0 5px;
}

 .nav-bar-logo {
    height: 50px;
    width: 50px;
}

.nav-bar-welcome-button {
    display: flex;
    justify-content: space-between;
}

.nav-bar-welcome-button * {
    margin: auto 5px;
    padding: 5px;
}

#navbarSupportedContent ul {
    width: 100%;
}

.navbar-brand > span {
    margin-left: 5px;
}

// Session Form
.session-form {
    padding: 20px;
    background-image: url(http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520573820/french-stucco-1920x1080.png);
    min-height: 100%;
}

.session-form > h1 {
    padding: 20px;
    margin-bottom: 50px;
    color: gold;
}

.session-form > form > div {
    margin-bottom: 15px;
}

.session-form-h3 {
    margin-bottom: 15px;
}

.session-form-button {
    background: darkred;
    color: gold;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.session-form-errors {
    list-style: none;
    // border: 1px solid greenyellow;
    padding: 0;
}

/* Browse */
.browse {
    background-image: url(http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520573820/french-stucco-1920x1080.png);
    // border: 1px solid green;
    // display: flex;
    // flex-direction: column;
    // margin: 10px;
    // height: 700px;
    padding: 20px;
    height: 100%;
}

.browse-h1 {
    padding: 20px;
    margin-bottom: 50px;
    color: gold;
}

.browse-filter-index {
    display: flex;
    justify-content: space-between;
    height: 550px;
}

/* Search Form */
// .name-div {
//     border: 1px solid green;
// }

// .level-div {
//     border: 1px solid teal;
// }
// .quality-div {
//     border: 1px solid red;
// }
.search-button {
    background: darkred;
    color: gold;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.search-form {
    // border: 1px solid pink;
    // border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.search-form > form {
    // border: 1px solid lightgreen;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-form > form > div {
    padding: 0;
    margin-bottom: 5px;
}

.search-form form div label {
    margin-right: 10px;
}

.reset-button {
    background: darkred;
    color: gold;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.search-reset-buttons > button {
    margin-right: 10px;
}

.search-reset-buttons > button:hover {
    cursor: pointer;
}

/* Filter Form */
.filter-form {
    border: 1px solid blue;
    padding: 0;
}

.filter-form-header {
    border: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    padding: 2px 10px;
}

.filter-form-list {
    list-style: none;
    border: 1px solid black;
    background-color: black;
    border-radius: 5px;
    margin: 0px;
}

.filter-form-list li {
    border: 1px solid black;
    border-radius: 5px;
    color: gold;
    padding: 2px;
    text-align: center;
    background-image: url(http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520884511/bedge-grunge-520x260.png);
    // margin: 1px;
}

.filter-form-gold {
    border: 2px solid gold;
    border-radius: 5px;
    text-align: right;
    background-color: black;
    color: gold;
    width: 100%;
    margin-top: 10px;
    padding: 2px;
}

.filter-form-header-div, .filter-form-gold-div {
    // border: 1px solid lightgreen;
    width: 100%;
    margin: 0;
}

/* Profile */
.profile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    color: goldenrod;
    background-image: url(http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520573820/french-stucco-1920x1080.png);
    min-height: 100%;
}

.dashboard {
    width: 100%;
}

.dashboard > div {
    margin-bottom: 10px;
}

.dashboard > div > div {
    padding: 0;
}

.profile * {
    margin: 0 auto;
}

.sell-won {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sell-won > span {
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin: 0;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 49%;
}

.gold {
    width: 100%;
}

.gold > span {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 3px;
}

.profile h1 {
    padding: 20px;
    margin-bottom: 50px;
}

.sell-won-span > div, .gold-span > div {
    margin: 0;
    padding: 0 3px;
}

/* Auction Index */
.auction-index {
    // position: relative;
    // overflow: hidden;
    // overflow-y: scroll;
    // margin: 5px;
    /* border-radius: 7px; */
    height: 55vh;
    border: 1px solid lightseagreen;
}

.column-headers {
    list-style: none;
    // display: flex;
    // justify-content: space-between;
    margin: 0px;
    // padding: 3px 5px;
}

.column-headers > li {
    border: 1px solid black;
    // border-top: 1px solid lightgrey;
    // border-left: 1px solid lightgrey;
    // border-right: 1px solid lightgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    padding: 2px 0 2px 10px;
    border: 1px solid lightpink;
}

.auctions-list {
    list-style: none;
    // border-top: 1px solid lightgray;
    // border-left: 1px solid black;
    // border-right: 1px solid black;
    // border-bottom: 1px solid black;
    border: 1px solid lightgray;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
    height: 92%;
    overflow: hidden;
    overflow-y: scroll;
}

.column-headers > li:not(:last-child) {
    margin-right: 10px;
}

/* Auction Detail */
.auction-detail * {
    border: 1px solid pink;
}

.auction-detail {
    border: 1px solid lightgray;
    background-image: url(http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520884511/bedge-grunge-520x260.png);
    border-radius: 7px;
    margin: 5px;
    padding: 2px;
}

.auction-detail ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.auction-detail-image {
    margin-top: 3px;
    margin-left: 3px;
    border-radius: 3px;
}

.auction-detail-image[item-quality="0"] {
    border: 2px solid grey;
}

.auction-detail-image[item-quality="1"] {
    border: 2px solid white;
}

.auction-detail-image[item-quality="2"] {
    border: 2px solid green;
}

.auction-detail-image[item-quality="3"] {
    border: 2px solid blue;
}

.auction-detail-image[item-quality="4"] {
    border: 2px solid purple;
}

.auction-detail-image[item-quality="5"] {
    border: 2px solid orangered;
}

.auction-detail .item-div {
    display: flex;
    justify-content: flex-start;
}

.auction-detail .item-div li:last-child {
    margin-left: 10px;
    padding-top: 20px;
    // min-width: 200px;
}

// .auction-detail .level-time-user {
//     display: flex;
//     justify-content: center;
//     margin-top: 20px;
// }

// .auction-detail .level-time-user li:not(:last-child) {
//     margin-right: 20px;
// }

.auction-detail .bid-buyout {
    margin-top: 20px;
}

.auction-detail .bid-buyout li:first-child {
    text-align: right;
}

.auction-detail .bid-buyout .buyout {
    display: flex;
    justify-content: flex-end;
}

.auction-detail .bid-buyout .buyout li:last-child {
    margin-left: 5px;
}

.item-div {
    min-width: 270px;
}

// .level-time-user {
//     min-width: 356px;
//     text-align: center;
// }

// .level-time-user li:nth-child(1) {
//     min-width: 40px;
// }

//  .level-time-user li:nth-child(2) {
//     min-width: 170px;
// }

//  .level-time-user li:nth-child(3) {
//     min-width: 100px;
// }

.buyout {
    color: gold;
}

.level-li, .time-li, .user-li {
    padding: 20px 0 0 0;
    text-align: center;
}

/* Auction Form */
.auction-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url(http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520573820/french-stucco-1920x1080.png);
    height: 100%;
}

.auction-form form > * {
    width: 100%;
    margin: 0 auto;
}

.auction-form * {
    margin: 0 auto;
}

.auction-form h1 {
    margin-bottom: 50px;
    color: goldenrod;
    padding: 20px;
}

.auction-form form {
    display: flex;
    flex-direction: column;
}

.auction-form > form > div > * {
    padding: 0px;
}

.auction-form form * {
    margin: 5px;
}

.auction-form > form {
    width: 100%;
}

.auction-form-input {
    display: flex;
    justify-content: space-between;
}

.auction-form-button {
    background: darkred;
    color: gold;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

// My Auctions
.my-auctions {
    padding: 20px;
}

.my-auctions > * {
    // width: 100%;
}

.my-auctions * {
    border: 1px solid lightcoral;
}

.my-auctions h1 {
    padding: 20px;
    margin-bottom: 50px;
    color: gold;
}

// Bid Form
.bid-form {
    width: 100%;
    border: 1px solid lightseagreen;
}

.bid-form * {
    border: 1px solid lightsalmon;
}

.bid-form > form {
    border: 1px solid yellow;
    width: 100%;
}

.bid-amount-label {
    margin-right: 10px;
}

.bid-button, .buyout-button {
    background: darkred;
    color: gold;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.bid-button {
    margin-right: 10px;
}

.bid-button:hover, .buyout-button:hover {
    cursor: pointer;
}