@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* General */
body, html, #root, .app {
    height: 100%;
}

* {
    // color: white;
    font-family: 'EB Garamond', serif;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

ul {
    padding-left: 0px;
}

.container {
    // background-image: url("http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520573820/french-stucco-1920x1080.png")
}

/* Auctions */

.item-div {
    min-width: 270px;
}

.level-time-user {
    min-width: 356px;
    text-align: center;
}

.level-time-user li:nth-child(1) {
    min-width: 40px;
}

 .level-time-user li:nth-child(2) {
    min-width: 170px;
}

 .level-time-user li:nth-child(3) {
    min-width: 100px;
}

 /* Nav Bar */
.navbar {
    padding-bottom: 0;
    padding-top: 0;
    border-bottom: 1px solid white;
}

.navbar-nav {
    list-style: none;
    margin: 0px;
}

.navbar-nav li {
    padding: 5px;
    margin: 0 5px;
}

 .nav-bar-logo {
    height: 50px;
    width: 50px;
}

.nav-bar-welcome-button {
    display: flex;
    justify-content: space-between;
}

.nav-bar-welcome-button * {
    margin: auto 5px;
    padding: 5px;
}

#navbarSupportedContent ul {
    width: 100%;
}

/* Browse */
// .browse {
//     border: 1px solid green;
//     display: flex;
//     flex-direction: column;
//     margin: 10px;
//     height: 700px;
// }

.browse-h1 {
    border: 1px solid red;
    padding: 10px;
}

.browse-filter-index {
    display: flex;
    justify-content: space-between;
    height: 550px;
}

/* Search Form */
.name-div {
    border: 1px solid green;
}

.level-div {
    border: 1px solid teal;
}
.quality-div {
    border: 1px solid red;
}
.search-button {
    border: 1px solid orange;
}

.search-form {
    border: 1px solid pink;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.search-form form {
    border: 1px solid purple;
    display: flex;
    justify-content: space-between;
}

.search-form form div {
    margin-right: 30px;
    padding: 0;
}

.search-form form div label {
    margin-right: 10px;
}

.reset-button {
    margin-left: 30px;
}

/* Filter Form */
.filter-form {
    border: 1px solid blue;
    position: relative;
    width: 25%;
    margin: 5px;
}

.filter-form-header {
    border: 1px solid hotpink;
    margin: 0 auto;
}

.filter-form-list {
    list-style: none;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px;
}

.filter-form-list li {
    border: 1px solid lightgrey;
    padding: 2px;
    text-align: center;
    background-color: lightgrey;
    margin: 1px;
}

.filter-form-gold {
    border: 2px solid gold;
    background-color: black;
    color: white;
    position: absolute;
    width: 94%;
    text-align: right;
    margin: 2px;
    padding: 2px;
}

/* Profile */
.profile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 20px;
    color: goldenrod;
    background-image: url(http://res.cloudinary.com/dcf4iyb6t/image/upload/v1520573820/french-stucco-1920x1080.png);
    min-height: 100%;
    // border: 1px solid blue;
}

.profile * {
    margin: 0 auto;
}

.sell-won {
    display: flex;
    justify-content: center;
    width: 100%;
    // border: 1px solid red;
}

.sell-won > span {
    border: 1px solid goldenrod;
    border-radius: 5px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.gold {
    width: 100%;
}

.gold > span {
    display: flex;
    justify-content: space-between;
    background-color: black;
    border: 1px solid goldenrod;
    border-radius: 5px;
    padding: 3px;
}

.profile > span {
    // border: 1px solid purple;
}

.profile h1 {
    padding: 20px;
    margin-bottom: 50px;
    // border: 1px solid pink;
}

/* Auction Index */
.auction-index {
    border: 1px solid black;
    position: relative;
    width: 75%;
    /* overflow: hidden;
    overflow-y: scroll; */
    margin: 5px;
    /* border-radius: 7px; */
}

.column-headers {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    padding: 3px 5px;
}

.column-headers li {
    padding: 2px;
    border-top: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-radius: 2px;
}

.auctions-list {
    list-style: none;
    border: 1px solid black;
    margin: 0px;
    height: 94%;
    overflow: hidden;
    overflow-y: scroll;
}

.column-headers .item-div li {
    padding-left: 15px;
}

.column-headers .level-time-user {
    display: flex;
    justify-content: space-between;
}

/* Auction Detail */
.auction-detail {
    border: 1px solid black;
    border-radius: 7px;
    margin: 5px;
    padding: 2px;
}

.auction-detail ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border: 1px solid orange;
}

/* .auction-detail ul li {
    border: 1px solid pink;
} */

.auction-detail .item-div {
    display: flex;
    justify-content: flex-start;
}

.auction-detail .item-div li:last-child {
    margin-left: 10px;
    padding-top: 20px;
    min-width: 200px;
}

.auction-detail .level-time-user {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.auction-detail .level-time-user li:not(:last-child) {
    margin-right: 20px;
}

.auction-detail .bid-buyout {
    margin-top: 20px;
}

.auction-detail .bid-buyout li:first-child {
    text-align: right;
}

.auction-detail .bid-buyout .buyout {
    display: flex;
    justify-content: flex-end;
}

.auction-detail .bid-buyout .buyout li:last-child {
    margin-left: 5px;
}

/* Auction Form */
.auction-form {
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.auction-form * {
    margin: 0 auto;
}

.auction-form h1 {
    margin-bottom: 50px;
    color: gold;
    text-shadow: 
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black,
        1px 1px 0 black;
}

.auction-form form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.auction-form form * {
    margin: 5px;
}

.auction-form-input {
    display: flex;
    justify-content: space-between;
}

.auction-form-button {
    background: darkred;
    color: gold;
}

